body {
    background-color: blue;
    color: white;
    text-align: center;
}

nav {
    background-color: tan;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
}
.welcome {
    background-color: tan;
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
}

h1 {
    font-size: 45px;
    padding-top: 20px;
}

h2 {
    padding: 0px 20px 20px;
}

.start {
    padding: 5px;
    font-size: large;
    color: blue;
    margin-bottom: 15px;
    border-radius: 5px;
}

.questions {
    background-color: tan;
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
    display: none;
}

.questions h1 {
    font-size: 35px;
}

.questions button {
    margin: 0px 10px 25px;
    padding: 5px;
}

.addHighscores {
        background-color: tan;
        margin: 0px 80px;
        border-radius: 5px;
        margin-top: 90px;
        display: none;
        padding-bottom: 40px;
}

.highscores {
    background-color: tan;
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
    display: none;
}

ul {
    list-style-type: none;
}