body {
    background-image: url("https://thumbs.gfycat.com/TalkativeSpectacularChinchilla-size_restricted.gif");
    background-size: cover;
    background-repeat: none;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    color: #838996;
}

nav {
    background-color: rgb(14, 31, 53);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    font-size: 20px;
}
.welcome {
    background-color: rgba(22, 50, 87);
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
    min-height: 70vh;
}

.hp, .gj {
    padding-top: 20px;
}


hr {
    margin-left: auto;
    margin-right: auto;
    border-color:#838996;
    width: 70%
}

h1 {
    font-size: 45px;
    padding-top: 20px;
}

h2 {
    font-size: 30px;
    padding: 0px 20px 20px;
    font-family: 'Cinzel Decorative', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}
.welcome h2 {
    padding-top: 20px;
    color: #838996;
    width: 70%;
    font-size: 22px;
}

.welcome button {
    background-color:rgb(14, 31, 53);
    width: 150px;
    height: 70px;
    margin: 0px 10px 20px;
}

.start, .scorepage, .return {
    padding: 5px;
    font-size: large;
    color: blue;
    margin-bottom: 15px;
    border-radius: 5px;
}

.questions {
    background-color: rgba(22, 50, 87);
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
    min-height: 70vh;
    display: none;
}

.questions h1 {
    font-size: 35px;
}

.questions button {
    margin: 0px 10px 25px;
    padding: 5px;
    background-color:rgb(14, 31, 53);
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    color: #838996;
}

.addHighscores {
    background-color: rgba(22, 50, 87);
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
    min-height: 70vh;
    display: none;
    padding-bottom: 40px;
}

.highscores {
    background-color: rgba(22, 50, 87);
    margin: 0px 80px;
    border-radius: 5px;
    margin-top: 90px;
    min-height: 70vh;
    display: none;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0px;
}

.questions button {
    font-size: 20px;
    color:white;
    padding: 8px;
}

.question {
    font-size: 45px;
}

.question-content {
    color:white;
}

.return {
    background-color:rgb(14, 31, 53);
    width: 150px;
    height: 70px;
    margin: 0px 10px 20px;
}